body {
  width: 400px;
  height: 400px;
  padding: 10px;
}

.top-bar {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  width: 100%;
  vertical-align: center;
  color: #007a93;
  margin-top: -5px;
}
.top-bar .btn{
  height: 20px;
  margin-top: 10px;
}

.times-header {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  color: #007a93;
  border-bottom: 1px solid #007a93;
}
.times-header .left {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  cursor: pointer;
}
.times-header .left input {
  width: 150px;
  /* border: none; */
  outline: 0; 
  height: 20px;
  top: 10px;
  color: black;
}
.times-header .right {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  width: 35%;
  cursor: pointer;
}
.times-header .selected {
  font-weight: bold;
}

.timers {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
}
.timers .timer {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  border-bottom: 1px solid #ababab;
  padding-top: 10px;
  padding-bottom: 10px;
}
.timers .timer .info {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  width: 60%;
}
.timers .timer .info .name {
  font-weight: bold;
}
.timers .timer .info .time-buttons {
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
}
.timers .timer .info .time-buttons .btn {
  margin-right: 5px;
  outline: 0;
}
.timers .timer .times {
  display: flex;
  flex-flow: row-reverse;
  justify-content: flex-end;
}
.timers .timer .times .edit {
  color: #007a93;
  cursor: pointer;
  text-decoration: underline;
  padding-left: 10px;
}